<div class="main-container-hp">
  <div class="bandeau-couleur bandeau-couleur-contact" style="left:100vw;"></div>
  <div class="container-hp-top">
    <div class="container-prestations">
      <%= link_to offres_path do %>
        <span class="prestations">Prestations</a>
      <% end %>
    </div>
    <div class="container-dingbat-projets">
      <%= link_to root_path do %>
        <%= image_tag "logo_noir_light", :style => "width: 250px;padding-top:40px;", alt: "dingbat strategie e-reputation reseaux sociaux" %>
      <% end %>
    </div>
    <div class="container-projets">
      <%= link_to projets_path do %>
        <span class="projets">Projets</a>
      <% end %>
    </div>
  </div>

  <div class="container-contact-center">
    <%= form_for @message, url: create_message_url do |f| %>
      <%= notice %>
      <%= @message.errors.full_messages.join(', ') %>

      <%= f.text_field :name, placeholder: 'Votre nom' %>
      <%= f.email_field :email, placeholder: 'Votre email' %>
      <%= f.email_field :company, placeholder: 'Votre entreprise' %>
      <%= f.email_field :prestation, placeholder: 'La prestation qui vous interesse' %>
      <%= f.text_area :body, placeholder: 'Et votre message !' %>
      <%= f.submit 'Envoyer', :class => 'submit_btn' %>
    <% end %>
  </div>

  <div class="container-hp-bottom">
    <div class="container-equipe">
      <%= link_to teammates_path do %>
        <span class="equipe">Equipe</a>
      <% end %>
    </div>
    <div class="container-homelab">
      <h2 class="homelab">
        <span class="color-homelab homelab-red">H</span><span class="color-homelab homelab-green">o</span><span class="color-homelab homelab-yellow">m</span><span class="color-homelab homelab-pink">e</span><span class="color-homelab homelab-yellow">l</span><span class="color-homelab homelab-pink">a</span><span class="color-homelab homelab-red">b</span> <span class="color-homelab homelab-pink">&</span> <span class="color-homelab homelab-yellow">C</span><span class="color-homelab homelab-red">o</span><span class="color-homelab homelab-pink">n</span><span class="color-homelab homelab-yellow">s</span><span class="color-homelab homelab-pink">u</span><span class="color-homelab homelab-green">l</span><span class="color-homelab homelab-red">t</span><span class="color-homelab homelab-yellow">i</span><span class="color-homelab homelab-red">n</span><span class="color-homelab homelab-green">g</span>
      </h2>
    </div>
    <div class="container-contact color">
      <%= link_to new_message_path do %>
        <span class="contact">Contact</a>
      <% end %>
    </div>
  </div>
</div>
