<div class="main-container-hp">
  <div class="bandeau-couleur bandeau-couleur-projets" style="left:100vw;"></div>
  <div class="container-hp-top">
    <div class="container-prestations">
      <%= link_to offres_path do %>
        <span class="prestations">Prestations</a>
      <% end %>
    </div>
    <div class="container-dingbat-projets">
      <%= link_to root_path do %>
        <%= image_tag "logo_noir_light", :style => "width: 250px;padding-top:40px;", alt: "dingbat strategie e-reputation reseaux sociaux" %>
      <% end %>
    </div>
    <div class="container-projets color">
      <%= link_to projets_path do %>
        <span class="projets">Projets</a>
      <% end %>
    </div>
  </div>
  <div class="filtre-projets">
    <%= form_tag projets_path, name: 'radioform', method: :get, class: 'filtre-form' do %>
      <input type="radio" value="" name="name" class="input-filtre"><label>Tout afficher</label>
      <input type="radio" value="Refonte web" name="name" class="input-filtre"><label>Refonte web</label>
      <input type="radio" value="Création web" name="name" class="input-filtre"><label>Création web</label>
      <input type="radio" value="Stratégie Instagram" name="name" class="input-filtre"><label>Stratégie Instagram</label>
      <%= button_tag type: 'submit', class: "btn-naked" do %>
        <i class="fas fa-check-circle"></i>
      <% end %>
    <% end %>
  </div>
  <div class="container-projets-center" style="position:relative;left:110vw;transition:1s;">
    <% if @projets.empty? %>
      <p>Aucun projet à afficher :(</p>
      </div>
    <% else %>
      <% @projets.each do |projet| %>
        <%= link_to projet_path(projet) do %>
          <div class="container-projet" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path projet.photo1 %>')">
            <div class="container-name">
              <%= projet.name %>
            </div>
            <div class="container-customer">
              <%= projet.customer %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="container-hp-bottom">
    <div class="container-equipe">
      <%= link_to teammates_path do %>
        <span class="equipe">Equipe</a>
      <% end %>
    </div>
    <div class="container-homelab-projets">
      <div class="projets-arrow-left">
        <i class="fas fa-arrow-left"></i>
      </div>
      <h2 class="homelab">Homelab & Consulting</h2>
      <div class="projets-arrow-right">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
    <div class="container-contact">
      <%= link_to new_message_path do %>
        <span class="contact">Contact</a>
      <% end %>
    </div>
  </div>
</div>


