<div class="main-container-hp">
  <div class="bandeau-couleur bandeau-couleur-projets" style="left:100vw;"></div>
  <div class="container-hp-top">
    <div class="container-prestations">
      <%= link_to offres_path do %>
        <span class="prestations">Prestations</a>
      <% end %>
    </div>
    <div class="container-dingbat-projets">
      <%= link_to root_path do %>
        <%= image_tag "logo_noir_light.png", alt: "dingbat strategie e-reputation reseaux sociaux", class: "logo-dingbat-top" %>
      <% end %>
    </div>
    <div class="container-projets color">
      <%= link_to projets_path do %>
        <span class="projets">Projets</a>
      <% end %>
    </div>
  </div>

  <div class="no-mobile">
    <div class="container-projet-center container-center" style="position:relative;left:110vw;transition:1s;">
      <div class="projet-presentation">
        <div class="presentation-title">
          <span style="font-weight:bold;"><%= @projet.name.upcase %></span> <span style="font-weight:200;"><%= @projet.year %></span>
          <h1><%= @projet.customer %></h1>
        </div>
        <div class="presentation-description">
          <p style="font-weight:bold">Le projet</p>
          <p><%= @projet.description %></p>
        </div>
      </div>
      <div class="projet-photos">
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path @projet.photo2 %>')"></div>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path @projet.photo3 %>')"></div>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path @projet.photo4 %>')"></div>
        <div class="next-projet"></div>
      </div>
    </div>
    <div class="container-hp-bottom">
      <div class="container-equipe">
        <%= link_to teammates_path do %>
          <span class="equipe">Equipe</a>
        <% end %>
      </div>
      <div class="container-homelab-projets">
        <div class="projets-arrow-left loading-pink" style="color:black">
          <i class="fas fa-arrow-left"></i>
        </div>
        <h2 class="homelab">Homelab & Consulting</h2>
        <div class="projets-arrow-right loading-pink" style="color:black">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="container-contact">
        <%= link_to new_message_path do %>
          <span class="contact">Contact</a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mobile">
    <div class="container-projet-center-mobile container-center"">
      <div class="projet-presentation">
        <div class="presentation-title">
          <span style="font-weight:bold;"><%= @projet.name.upcase %></span> <span style="font-weight:200;"><%= @projet.year %></span>
          <h1><%= @projet.customer %></h1>
        </div>
        <div class="presentation-description">
          <p style="font-weight:bold">Le projet</p>
          <p><%= @projet.description %></p>
        </div>
      </div>
      <div class="projet-photos">
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path @projet.photo1 %>')"></div>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path @projet.photo2 %>')"></div>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path @projet.photo3 %>')"></div>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path @projet.photo4 %>')"></div>
        <div class="next-projet"></div>
      </div>
    </div>
    <h2 class="homelab text-center" style="font-size:20px;padding-bottom:18px;z-index:800;">Homelab & Consulting</h2>
  </div>
</div>


