<div class="main-container-offre">
  <div class="bandeau-couleur bandeau-couleur-offres" style="left:100vw;"></div>
  <div class="container-offre-left">
    <div class="container-prestations color" style="width:173px;">
      <%= link_to offres_path do %>
        <span class="prestations">Prestations</span>
      <% end %>
    </div>
    <div class="container-equipe" style="width:122px;">
      <%= link_to teammates_path do %>
        <span class="equipe">Equipe</a>
      <% end %>
    </div>
  </div>


  <div class="no-mobile" style="width:100%;">
    <div class="container-offre-center">
      <div class="container-offre-center-top" style="z-index:999;">
        <div class="container-dingbat-projets">
          <%= link_to home_path do %>
            <%= image_tag "logo_noir_light.png", alt: "dingbat strategie e-reputation reseaux sociaux", class: "logo-dingbat-top" %>
          <% end %>
        </div>
      </div>
      <div class="container-offre-center-middle" style="z-index:1;">
        <div class="container-offre-center-middle-left">
          <div class="offre-container">
            <div class="offre-texte">
              <p style="font-size:45px;">Hello,</p>
              <p style="font-size:25px;padding-bottom:20px;">J'aimerais être acompagné sur...</p>
              <h1 style="margin-top: 0;font-weight:bold;">Mes contenus de marque</h1>
              <p style="font-size:22px;">Les contenus griffés Dingbat : la signature des marques qui gagnent !</p>
            </div>
            <div class="offre-link" style="width:200px;">
              <div class="infos-offre">
                <%= link_to new_message_path do  %>
                  Ca m'intéresse !
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="container-offre-center-middle-right-container">
          <div class="container-offre-center-middle-right" style="top:0vh;">
            <div class="offre-bloc bloc-1">
              <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://media.giphy.com/media/A7rTdPxXP9fqM/giphy.gif');"></div>
            </div>
            <div class="offre-bloc bloc-2">
              <div class="bloc-text">
                <p>Le contenu de marque (brand content en anglais) désigne l'ensemble des contenus que votre marque est susceptible de produire afin de construire et de renforcer son image auprès de ses différents publics. Ces contenus peuvent également soutenir ses actions publicitaires. Leur conception et leur création mobilisent l'ensemble des talents du Dingbat. Fondamentaux dans le déploiement d'une stratégie de marque ambitieuse et pérenne, ils bénéficient pleinement de l'esprit créatif et de la qualité d'écoute qui règnent dans notre homelab.  </p>
                <p>Diffusés sur différents canaux de communication liés à votre territoire de marque, (supports numériques et papier, etc.), ces contenus éditoriaux peuvent prendre les formes les plus diverses : vidéos et tutoriels, articles, livres blancs, MÈME, etc. Personnalisés, performants et arborant le sceau « Qualité Dingbat », chacun d'entre eux veille à refléter et véhiculer l'ensemble des valeurs adossées à votre marque, en les sublimant.</p>
              </div>
            </div>
            <div class="offre-bloc bloc-3">
              <div class="bloc-text">
                <h3 style="margin-bottom:40px;">Contenus de marque, les porte-voix les plus efficaces quand on souhaite exister et prospérer dans les secteurs les plus concurrentiels. Grâce à eux :</h3>
                <ul>
                  <li>dessinez avec précision les contours de votre territoire de marque,</li>
                  <li>imposez-vous face à la concurrence,</li>
                  <li>optimisez votre positionnement grâce aux interactions les plus convaincantes avec votre audience,</li>
                  <li>diffusez des informations valorisantes perçues comme des services à haute valeur ajoutée,</li>
                  <li>alimentez le storytelling, garant de la montée en puissance de votre activité...</li>
                </ul>
              </div>
            </div>
            <div class="offre-bloc bloc-4">
              <div class="bloc-text">
                <h3 style="margin-bottom:40px;">Vous aimeriez en discuter ?</h3>
                <p>Contactez-nous via notre formulaire de contact, nous reviendrons très rapidement vers vous !</p>
                <div class="offre-link" style="width:250px;">
                  <div class="infos-offre">
                    <%= link_to new_message_path do  %>
                      Contactez-nous !
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-offre-center-bottom" style="z-index:2;">
        <div class="container-homelab-projets">
          <div class="projets-arrow-up loading">
            <i class="fas fa-arrow-up" style="color:black"></i>
          </div>
          <h2 class="homelab text-center" style="margin-bottom:15px;">Homelab & Consulting</h2>
          <div class="projets-arrow-down loading">
            <i class="fas fa-arrow-down" style="color:black"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-offre-right" style="width:122px;">
    <div class="container-projets">
      <%= link_to projets_path do %>
        <span class="projets">Projets</span>
      <% end %>
    </div>
    <div class="container-contact" style="width:132px;">
      <%= link_to new_message_path do %>
        <span class="contact">Contact</a>
      <% end %>
    </div>
  </div>

  <div class="mobile" style="position:absolute;top:0;">
     <div class="container-offre-mobile" style="padding-left:20px;padding-right:20px;">
        <div class="container-dingbat-projets">
          <%= link_to home_path do %>
            <%= image_tag "logo_noir_light.png", alt: "dingbat strategie e-reputation reseaux sociaux", class: "logo-dingbat-top" %>
          <% end %>
        </div>
        <div class="offre-texte">
          <p style="font-size:45px;padding-top:60px;">Hello,</p>
          <p style="font-size:25px;padding-bottom:20px;">J'aimerais être acompagné sur...</p>
          <h1 style="margin-top: 0;font-weight:bold;">Mes contenus de marque</h1>
              <p style="font-size:22px;">Les contenus griffés Dingbat : la signature des marques qui gagnent !</p>
        </div>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://media.giphy.com/media/A7rTdPxXP9fqM/giphy.gif');"></div>
        <div class="offre-bloc bloc-2">
          <div class="bloc-text">
            <p>Le contenu de marque (brand content en anglais) désigne l'ensemble des contenus que votre marque est susceptible de produire afin de construire et de renforcer son image auprès de ses différents publics. Ces contenus peuvent également soutenir ses actions publicitaires. Leur conception et leur création mobilisent l'ensemble des talents du Dingbat. Fondamentaux dans le déploiement d'une stratégie de marque ambitieuse et pérenne, ils bénéficient pleinement de l'esprit créatif et de la qualité d'écoute qui règnent dans notre homelab.  </p>
            <p>Diffusés sur différents canaux de communication liés à votre territoire de marque, (supports numériques et papier, etc.), ces contenus éditoriaux peuvent prendre les formes les plus diverses : vidéos et tutoriels, articles, livres blancs, MÈME, etc. Personnalisés, performants et arborant le sceau « Qualité Dingbat », chacun d'entre eux veille à refléter et véhiculer l'ensemble des valeurs adossées à votre marque, en les sublimant.</p>
          </div>
        </div>
        <div class="offre-bloc bloc-3">
          <div class="bloc-text">
            <h3 style="margin-bottom:40px;">Contenus de marque, les porte-voix les plus efficaces quand on souhaite exister et prospérer dans les secteurs les plus concurrentiels. Grâce à eux :</h3>
            <ul>
              <li>dessinez avec précision les contours de votre territoire de marque,</li>
              <li>imposez-vous face à la concurrence,</li>
              <li>optimisez votre positionnement grâce aux interactions les plus convaincantes avec votre audience,</li>
              <li>diffusez des informations valorisantes perçues comme des services à haute valeur ajoutée,</li>
              <li>alimentez le storytelling, garant de la montée en puissance de votre activité...</li>
            </ul>
          </div>
          <div class="offre-link" style="width:100%;">
            <div class="infos-offre">
              <%= link_to new_message_path do  %>
                Ca m'intéresse !
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <h2 class="homelab text-center" style="font-size:20px;padding-bottom:18px;z-index:800;">Homelab & Consulting</h2>
    </div>
  </div>
</div>
