<div class="main-container-offre">
  <div class="bandeau-couleur bandeau-couleur-offres" style="left:100vw;"></div>
  <div class="container-offre-left">
    <div class="container-prestations color" style="width:173px;">
      <%= link_to offres_path do %>
        <span class="prestations">Prestations</span>
      <% end %>
    </div>
    <div class="container-equipe" style="width:122px;">
      <%= link_to teammates_path do %>
        <span class="equipe">Equipe</a>
      <% end %>
    </div>
  </div>


  <div class="no-mobile" style="width:100%;">
    <div class="container-offre-center">
      <div class="container-offre-center-top" style="z-index:999;">
        <div class="container-dingbat-projets">
          <%= link_to home_path do %>
            <%= image_tag "logo_noir_light.png", alt: "dingbat strategie e-reputation reseaux sociaux", class: "logo-dingbat-top" %>
          <% end %>
        </div>
      </div>
      <div class="container-offre-center-middle" style="z-index:1;">
        <div class="container-offre-center-middle-left">
          <div class="offre-container">
            <div class="offre-texte">
              <p style="font-size:45px;">Hello,</p>
              <p style="font-size:25px;padding-bottom:20px;">J'aimerais être acompagné sur...</p>
              <h1 style="margin-top: 0;font-weight:bold;">Ma e-reputation</h1>
              <p style="font-size:22px;">Avec le Dingbat et son homelab, les marques au firmament de la e-réputation.</p>
            </div>
            <div class="offre-link" style="width:200px;">
              <div class="infos-offre">
                <%= link_to new_message_path do  %>
                  Ca m'intéresse !
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="container-offre-center-middle-right-container">
          <div class="container-offre-center-middle-right-erep" style="top:0vh;">
            <div class="offre-bloc bloc-1">
              <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://media.giphy.com/media/eBb2W1OYVHou9l6W7N/giphy.gif');"></div>
            </div>
            <div class="offre-bloc bloc-2">
              <div class="bloc-text">
                <h3 style="margin-bottom:40px;">L'e-réputation au cœur de toutes les convoitises...</h3>
                <p>L'e-réputation naît de l'image générée par la marque ou l'entreprise à travers les différents supports et canaux digitaux, son site web et les réseaux sociaux notamment.</p>
                <p>Quand on constate que l'e-réputation produit désormais très souvent l'essentiel de l'identité de marque attribuée à un opérateur de téléphonie ou à une enseigne de parfum par exemple, on comprend mieux l'engouement général pour cette spécialité de la communication digitale.</p>
              </div>
            </div>
            <div class="offre-bloc bloc-3">
              <div class="bloc-text">
                <h3 style="margin-bottom:40px;">… Et le Dingbat au cœur de tous vos succès</h3>
                <p>Afin de donner toute l'efficacité et la profondeur à leur intervention au profit de la prospérité de votre activité, nos experts partenaires, portés par l'atmosphère studieuse et créative du homelab, disposent d'une valeur ajoutée inestimable. </p>
              <p>Grâce à la multiplicité de leurs compétences, ils vont façonner, consolider, optimiser votre e-réputation par le biais de la stratégie de marque. Que cette dernière existe déjà ou que nous procédions ensemble à sa création.</p>
              </div>
            </div>
            <div class="offre-bloc bloc-4">
              <div class="bloc-text">
                <h3 style="margin-bottom:40px;">Pour vous, accompagnement personnalisé et stratégie d'exception</h3>
                <p>Accompagné(e) en permanence par nos spécialistes des métiers de la sphère digitale et du marketing, le Dingbat contribue pleinement à l'expansion de votre entité en déployant ses atouts maîtres au service de votre réussite :</p>
                <ul>
                  <li>mise en place d'une veille stratégique et concurrentielle garante d'une connaissance affinée des marchés,</li>
                  <li>étude approfondie de votre environnement économique, des cibles et des communautés d'internautes repérées ou potentiellement porteuses de croissance,</li>
                  <li>pertinence de la réflexion et des choix bâtissant les fondamentaux de la marque pour une plus grande sérénité entrepreneuriale (visibilité accrue à court et à long terme, disparition des facteurs anxiogènes et des doutes intempestifs, tous ennemis des entrepreneurs, etc.),</li>
                  <li>création d'un site web ergonomique et optimisé, fruit de l'expertise du Dingbat associée à l'hébergement, au SEO, SMO, au SEA...</li>
                </ul>
              </div>
            </div>
            <div class="offre-bloc bloc-5">
              <div class="bloc-text">
                <h3 style="margin-bottom:40px;">Le Dingbat pour faire sonner tous les canaux de la performance et de la prospérité</h3>
                <p>Afin de vous conduire au firmament d'une e-réputation gagnante, le Dingbat va mettre en place tout un dispositif stratégique dans lequel la connaissance, l'investigation, l'approche ludique, la sagacité, la rationalité, l'imagination et l'expérience se mettent au service de vos succès, présents et futurs.</p>
              <p>Ainsi, entre les mains expertes de nos spécialistes aux esprits affûtés, marques et entreprises s'installent au cœur d'un cercle vertueux qui va renforcer la solidité des liens tissés avec la clientèle, le public, l'audience.</p>
              <p>Avec au final, grâce à la mise en avant des valeurs emblématiques de votre organisation, pour vous et vos équipes :</p>
              <ul>
                <li>la construction d'une « assise » solide de la marque qui éclaire et facilite la gestion au quotidien et la prise de décisions stratégiques,</li>
                <li>la création sur le web d'un trafic qualifié, synonyme de performance et de prospérité, générateur de leads.</li>
                <li>plus d'interactions et d'échanges avec vos clients, prospects qualifiés et communautés d'internautes pertinentes, sources d'informations précieuses au regard de l'évolution de votre entité...</li>
              </ul>
              </div>
            </div>
            <div class="offre-bloc bloc-6">
              <div class="bloc-text">
                <h3 style="margin-bottom:40px;">Vous aimeriez en discuter ?</h3>
                <p>Contactez-nous via notre formulaire de contact, nous reviendrons très rapidement vers vous !</p>
                <div class="offre-link" style="width:250px;">
                  <div class="infos-offre">
                    <%= link_to new_message_path do  %>
                      Contactez-nous !
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-offre-center-bottom" style="z-index:2;">
        <div class="container-homelab-projets">
          <div class="projets-arrow-up loading">
            <i class="fas fa-arrow-up" style="color:black"></i>
          </div>
          <h2 class="homelab text-center" style="margin-bottom:15px;">Homelab & Consulting</h2>
          <div class="projets-arrow-down loading">
            <i class="fas fa-arrow-down" style="color:black"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-offre-right" style="width:122px;">
    <div class="container-projets">
      <%= link_to projets_path do %>
        <span class="projets">Projets</span>
      <% end %>
    </div>
    <div class="container-contact" style="width:132px;">
      <%= link_to new_message_path do %>
        <span class="contact">Contact</a>
      <% end %>
    </div>
  </div>

  <div class="mobile" style="position:absolute;top:0;">
     <div class="container-offre-mobile" style="padding-left:20px;padding-right:20px;">
        <div class="container-dingbat-projets">
          <%= link_to home_path do %>
            <%= image_tag "logo_noir_light.png", alt: "dingbat strategie e-reputation reseaux sociaux", class: "logo-dingbat-top" %>
          <% end %>
        </div>
        <div class="offre-texte">
          <p style="font-size:45px;padding-top:60px;">Hello,</p>
          <p style="font-size:25px;padding-bottom:20px;">J'aimerais être acompagné sur...</p>
          <h1 style="margin-top: 0;font-weight:bold;">Ma e-reputation</h1>
          <p style="font-size:22px;">Avec le Dingbat et son homelab, les marques au firmament de la e-réputation.</p>
        </div>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://media.giphy.com/media/eBb2W1OYVHou9l6W7N/giphy.gif');"></div>
        <div class="offre-bloc bloc-2">
          <div class="bloc-text">
            <h3 style="margin-bottom:40px;">L'e-réputation au cœur de toutes les convoitises...</h3>
            <p>L'e-réputation naît de l'image générée par la marque ou l'entreprise à travers les différents supports et canaux digitaux, son site web et les réseaux sociaux notamment.</p>
            <p>Quand on constate que l'e-réputation produit désormais très souvent l'essentiel de l'identité de marque attribuée à un opérateur de téléphonie ou à une enseigne de parfum par exemple, on comprend mieux l'engouement général pour cette spécialité de la communication digitale.</p>
          </div>
        </div>
        <div class="offre-bloc bloc-3">
          <div class="bloc-text">
            <h3 style="margin-bottom:40px;">… Et le Dingbat au cœur de tous vos succès</h3>
            <p>Afin de donner toute l'efficacité et la profondeur à leur intervention au profit de la prospérité de votre activité, nos experts partenaires, portés par l'atmosphère studieuse et créative du homelab, disposent d'une valeur ajoutée inestimable. </p>
          <p>Grâce à la multiplicité de leurs compétences, ils vont façonner, consolider, optimiser votre e-réputation par le biais de la stratégie de marque. Que cette dernière existe déjà ou que nous procédions ensemble à sa création.</p>
          </div>
        </div>
        <div class="offre-bloc bloc-4">
          <div class="bloc-text">
            <h3 style="margin-bottom:40px;">Pour vous, accompagnement personnalisé et stratégie d'exception</h3>
            <p>Accompagné(e) en permanence par nos spécialistes des métiers de la sphère digitale et du marketing, le Dingbat contribue pleinement à l'expansion de votre entité en déployant ses atouts maîtres au service de votre réussite :</p>
            <ul>
              <li>mise en place d'une veille stratégique et concurrentielle garante d'une connaissance affinée des marchés,</li>
              <li>étude approfondie de votre environnement économique, des cibles et des communautés d'internautes repérées ou potentiellement porteuses de croissance,</li>
              <li>pertinence de la réflexion et des choix bâtissant les fondamentaux de la marque pour une plus grande sérénité entrepreneuriale (visibilité accrue à court et à long terme, disparition des facteurs anxiogènes et des doutes intempestifs, tous ennemis des entrepreneurs, etc.),</li>
              <li>création d'un site web ergonomique et optimisé, fruit de l'expertise du Dingbat associée à l'hébergement, au SEO, SMO, au SEA...</li>
            </ul>
          </div>
        </div>
        <div class="offre-bloc bloc-5">
          <div class="bloc-text">
            <h3 style="margin-bottom:40px;">Le Dingbat pour faire sonner tous les canaux de la performance et de la prospérité</h3>
            <p>Afin de vous conduire au firmament d'une e-réputation gagnante, le Dingbat va mettre en place tout un dispositif stratégique dans lequel la connaissance, l'investigation, l'approche ludique, la sagacité, la rationalité, l'imagination et l'expérience se mettent au service de vos succès, présents et futurs.</p>
          <p>Ainsi, entre les mains expertes de nos spécialistes aux esprits affûtés, marques et entreprises s'installent au cœur d'un cercle vertueux qui va renforcer la solidité des liens tissés avec la clientèle, le public, l'audience.</p>
          <p>Avec au final, grâce à la mise en avant des valeurs emblématiques de votre organisation, pour vous et vos équipes :</p>
          <ul>
            <li>la construction d'une « assise » solide de la marque qui éclaire et facilite la gestion au quotidien et la prise de décisions stratégiques,</li>
            <li>la création sur le web d'un trafic qualifié, synonyme de performance et de prospérité, générateur de leads.</li>
            <li>plus d'interactions et d'échanges avec vos clients, prospects qualifiés et communautés d'internautes pertinentes, sources d'informations précieuses au regard de l'évolution de votre entité...</li>
          </ul>
          </div>
          <div class="offre-link" style="width:100%;">
            <div class="infos-offre">
              <%= link_to new_message_path do  %>
                Ca m'intéresse !
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <h2 class="homelab text-center" style="font-size:20px;padding-bottom:18px;z-index:800;">Homelab & Consulting</h2>
    </div>
  </div>
</div>
