<div class="main-container-hp">
  <div class="bandeau-couleur bandeau-couleur-teammates" style="left:100vw;"></div>
  <div class="container-hp-top">
    <div class="container-prestations">
      <%= link_to offres_path do %>
        <span class="prestations">Prestations</a>
      <% end %>
    </div>
    <div class="container-dingbat-projets">
      <%= link_to home_path do %>
        <%= image_tag "logo_noir_light.png", alt: "dingbat strategie e-reputation reseaux sociaux", class: "logo-dingbat-top" %>
      <% end %>
    </div>
    <div class="container-projets">
      <%= link_to projets_path do %>
        <span class="projets">Projets</a>
      <% end %>
    </div>
  </div>

  <div class="no-mobile">
    <div class="container-teammates-center container-center" style="position:relative;left:110vw;transition:1s;">
      <% @teammates.each do |teammate| %>
        <div class="container-projet" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path teammate.photo %>')">
          <div class="container-name">
            <%= teammate.name %>
          </div>
          <div class="container-customer">
            <%= teammate.metier %>
          </div>
        </div>
      <% end %>
      <div class="container-back-start">
        <div class="back-start"><i class="fas fa-angle-double-left"></i></div>
      </div>
    </div>
    <div class="container-hp-bottom">
      <div class="container-equipe color">
        <%= link_to teammates_path do %>
          <span class="equipe">Equipe</a>
        <% end %>
      </div>
      <div class="container-homelab-projets">
        <div class="projets-arrow-left loading-green" style="color:black">
          <i class="fas fa-arrow-left"></i>
        </div>
        <h2 class="homelab">Homelab & Consulting</h2>
        <div class="projets-arrow-right loading-green" style="color:black">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="container-contact">
        <%= link_to new_message_path do %>
          <span class="contact">Contact</a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mobile">
    <div class="container-teammates-center-mobile container-center">
      <% @teammates.each do |teammate| %>
        <%= link_to teammate_path(teammate) do %>
          <div class="container-projet-mobile" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path teammate.photo %>')">
            <div class="container-name">
              <%= teammate.name %>
            </div>
            <div class="container-customer">
              <%= teammate.metier %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <h2 class="homelab text-center" style="font-size:20px;padding-bottom:18px;z-index:800;">Homelab & Consulting</h2>
  </div>
</div>


